
.footer{
    text-align: center;
}
.links{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    cursor: pointer !important;
    text-decoration: none !important;
    outline: none !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    color: #020202 !important;
    opacity: 0.6 !important;
    display: inline-block !important;
}
.nav{
    text-align: right;
}
.go{
    text-decoration: none;
}